@import url("./bulma.min.css");
@import url("./fa-all.min.css");

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.upload-button {
  margin-top: 1em;
  margin-bottom: 1em;
}

.file-type {
  margin-right: 1em;
}
